<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <style>
        body {
            font-family: Georgia, serif;
        }
    </style>
</head>
    <body>
        <center>
            <h1>Confirmation Page</h1>
            <p>Dear <b>{{ name }}</b>:</p>
            <p>Thank you for choosing The Panther Hotel. We are please to confrom your room reservation from <b>{{ arriving }}</b> to <b>{{ departing }}</b></p>
            <p>We look forward to your arrival and will see you soon!</p>
            <button onclick="location.href='home.html'">Go Home</button>
        </center>
    </body>
</html>