<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }
    h1 {
        padding: 30px;
    }
    button {
        background-color: #0077c2;
        color: #FDB813;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        font-size: 16px;
        font-weight: bold;
        margin: 20px;
    }
    button:hover {
        background-color: #005ea4;
        cursor: pointer;
    }
    body {
    background-color:darkgrey;
    }
</style>
<body>
    <center>
    <h1>Welcome to Panther Hotel</h1>
    <button onclick="location.href='reservations.html'">Book a Room</button>
    <button onclick="location.href='roomlist.html'">Manager</button>
    </center>
</body>
</html>