<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservations</title>
</head>
<body>
    <center>
    <h1>Reservation</h1>
    <form action="reservations.html" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="arriving">Arriving:</label>
        <input type="date" id="arriving" name="arriving"><br><br>
        <label for="departing">Departing:</label>
        <input type="date" id="departing" name="departing"><br><br>
        <input type="submit" value="Confirm">
    </center>
    </form>
</body>
</html>