<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room List</title>
</head>
<body>
    <center>
    <h1>Room List</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Arrival Date</th>
          <th>Departure Date</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
          <td>{{row["name"]}}</td>
          <td>{{["arriving"]}}</td>
          <td>{{["departing"]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button onclick="location.href='home.html'">Go Home</button>
    </center>
</body>
</html>